extends ./layout/index

block slider
    .slider
        h1 Rio de Janerio
        em Aventura 

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec neque elit, convallis in dapibus vel, sollicitudin eget elit. Maecenas convallis pretium justo feugiat tristique. 
                p Nunc vel mollis ipsum. Donec id quam porttitor, aliquet erat in, auctor nibh. Donec sed erat mattis, gravida odio eget, faucibus lectus. Nullam quis lobortis tortor, in pharetra magna.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        
        include ./layout/bloque_viajes

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD
    
    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales